@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply focus:outline-none focus:border-gray-500 p-3 border-2 text-lg border-gray-200 transition-colors;
    }

    .container {
        @apply max-w-screen-2xl mx-auto;
    }

    .link {
        @apply text-lime-600 hover:underline;
    }

    .btn {
        @apply text-lg font-medium focus:outline-none text-white py-4  transition-colors bg-lime-600 hover:bg-lime-700;
    }

    .modal-bg {
        @apply top-0 bottom-0 left-0 right-0 fixed flex items-center justify-center bg-black z-10 bg-opacity-75;
    }
}

.StripeElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}